.OptionsMenu-options-control::before {
    content: "Dream Frame v0.01";
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 20px;
}

/** Context Menu **/
/* Background */
.TransientMenu-container-style-default {
    background-color: rgba(78, 80, 92, 0.75);
    border: none;
    backdrop-filter: blur(10px);
    border-radius: 7px !important;
}
/* Border */
.ActionMenu-section:not(:first-child) {
    border-top: none;
}

/** Adding the Custom Background **/
/* Background */
body::before {
    content: "";
    background-image: var(--Background);
    top: 0px;
    left: 0px;
    position: fixed;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background-size: cover;
    background-repeat: var(--BackgroundRepeat);
    background-position: center;
    opacity: var(--BackgroundBrightness);
    filter: blur(var(--BackgroundBlur));
    transform: rotate(var(--BackgroundRotation));
}

/** Removing Gray Backgrounds */
/* App */
body {
    background-color: black;
}
/* Chat */
.LayeredPageContent-content {
    background: transparent;
}
/* Chat Header */
.ScreenHeader-container {
    background: transparent;
    border-bottom: none;
}
/* Members List */
.SidebarWrapper-container {
    background: transparent;
}
.SidebarInfoItem-container {
    background: transparent;
}
/* Channels */
.TeamNavMenu-container {
    background-color: transparent;
}
.TeamPageNavV3-container {
    background: transparent;
}
.WebAppV2-sidebar {
    background-color: transparent;
}
/* Groups */
.GroupSelector-container {
    background-color: transparent;
}

/*** Channels Sidebar ***/
/** Messages **/
/* Background */
.ChatV2Message-container:not(.ChatV2Message-container-editing):hover, .ChatV2Message-container.ChatV2Message-container-replying {
    background-color: transparent;
}
/* Quick Action Bar */
.QuickActionBar-container {
    background: rgba(79, 81, 93, 0.50);
    border-radius: 7px;
    border: none;
    padding: 4px 4px;
}

/** Header **/
/* Header */
.PageNavHeaderWrapper-container.TeamNavHeader-container.TeamPageNavV3-header {
    margin-top: 10px;
}
/* Server Cover */
.StretchBackground-container.StretchBackground-container-default.StretchFadeBackground-stretch-bg {
    border-radius: 7px;
    -webkit-mask-image: none !important;
}
/** Channels **/
/* Unread Channels */
.TeamChannelItemContents-container-unread:before {
    width: 275px;
    height: 32px;
    top: 1px;
    border-radius: 4px;
    background-color: rgba(245, 196, 0, 0.25);
    left: 0px;
}
/* Fonts */
.TeamNavSectionItem-name, .TeamChannelItemContents-name, .ChannelIcon-icon-primary, .ChannelListHeader-container-type-category .ChannelListHeader-text, .ChannelListHeader-container-type-default .ChannelListHeader-text { /* Changing font to white */
    color: white;
}
/*** Chat ***/
/** Annoucements **/
/* Background */
.OverviewWidgetItemWrapper-container-type-filled {
    background-color: rgba(50, 52, 61, 0.5);
    border-radius: 7px;
    backdrop-filter: blur(10px);
}
.OverviewWidgetItemWrapper-container.OverviewWidgetItemWrapper-container-standalone.OverviewWidgetSkeleton-container.OverviewWidgetSkeleton-container-announcement.OverviewWidgetSkeleton-container-type-filled {
    background-color: rgba(50, 52, 61, 0.5);
    border-radius: 7px;
    backdrop-filter: blur(10px);
}
/* Borders */
.ContentMetadataCreationInfo-container.PostMetadata-creation-info, .ContentMetadataReplyInfo-container.ContentMetadataReplyInfo-container-can-reply.PostMetadata-reply-info {
    border: none;
}
/** Post a Reply aka Leave a comment */ /* Guilded is great, that's my comment */
/* Background */
.Editor-container {
    background: rgba(49, 49, 49, 0.5);
    border-radius: 7px;
    backdrop-filter: blur(10px);
}
/* Tools */
.SlateToolbarStrip {
    border-top: none;
    border-bottom: none;
    padding: 5px 0px;
    background: rgba(49, 49, 49, 0.5);
}
.SlateToolbarStrip-iconGroup:not(:last-child) {
    border-right: none;
    border-radius: 7px;
    background: rgb(73, 69, 68);
    margin: 0px 4px;
}
/* Other Comments */
.ReplyPanel-container.ReplyPanel-container-viewing.ReplyPanel-container-size-md.ReplyPanel-container-desktop.RepliesDisplayV2-item {
    background-color: rgba(50, 52, 61, 0.5);
    border-radius: 7px;
    backdrop-filter: blur(10px);
}
.ContentMetadataReplyInfo-container.PostMetadata-reply-info {
    border: none;
}
/** Overview **/
/* Gradinet Dropdown */
.GradientBackground-container {
    background: none;
}
/* Top Cover and Icon */
img.TeamOverviewBanner-banner.TeamPageBanner-overview-banner {
    border-radius: 10px !important;
    margin-left: 10px;
}
.TeamOverviewBanner-container {
    border: none;
}
.TeamPlaqueV2-profile-pic-placeholder::after {
    display: none;
}
.SkeletonPlaceholder-container.TeamPlaqueV2-profile-pic-placeholder {
    border-radius: 7px;
}
/** Input Box **/
/* Gray Box - Archived */
.ChatChannelArchivedControl-container {
    backdrop-filter: blur(10px);
    border-radius: 7px;
    background: rgba(76, 76, 76, 0.5);
    border: none;
    width: 100%;
}

/* Background */
.ChatChannelInput-container .ChatChannelInput-editor {
    background: rgba(163,163,172,0.2);
    backdrop-filter: blur(10px);
    border-radius: 7px;
}
/* Seperator */
.SlateInsertToolbar-container:after {
    display: none;
}
/* Upload Media */
.SlateToolbarMenuIcon, .ReactionPickerButton-icon {
    fill: white;
}
/* Border */
.ChatChannelInput-container {
    border-top: none;
}
/** Embeds **/
/* Background */
.OpenGraphEmbed-content {
    min-height: 72px;
    background-color: rgba(50, 52, 61, 0.75);
    backdrop-filter: blur(10px);
    border-radius: 7px;
    border: none;
}
.OpenGraphEmbedImage-container-playable:before, .ProgressiveLoadedImage-container {
    border-radius: 7px;
}
/** Achrived Thread **/
/* Background */
.ChatMessageThread-container {
    border-radius: 7px;
    backdrop-filter: blur(10px);
}
/* Thread */
.LastReplyDisplay-container {
    background: rgba(72, 75, 81, 0.5);
    padding: 10px 20px;
    border-radius: 7px;
}
.LastReplyDisplay-container:before {
    display: none;
}
/** Emoji Picker **/
/* Adjustments */
.ReactionPicker-container-desktop {
    width: 420px;
    height: 358px;
}
.ReactionPicker-container.ReactionPicker-container-desktop {
    margin-left: -62px;
    margin-top: -10px;
}
/* Content */
.ReactionPicker-content {
    margin-left: 50px;
    height: 358px;
}
.ReactionPicker-list {
    height: 250px !important;
}
/* Category */
.ReactionPickerNavbar-container {
    left: -210px;
    transform: rotate(90deg);
    position: absolute;
    top: 149px;
    border-radius: 0px 0px 7px 7px;
    border: none;
}
.HoverContext-container.ReactionPickerNavbarItem {
    transform: rotate(-90deg);
}
.ReactionPickerNavbarItem-active {
    border-bottom: none;
    padding-bottom: 8px;
    border-right: 3px solid #f5c400;
}
/*** Settings ***/
.ModalV2-container-fullscreen {
    height: 70vh;
    width: 60vw;
}
.ModalV2-container {
    border-radius: 8px;
}
/** Sidebar **/
/* Save Controls */
.OptionsMenu-desktop-save-controls {
    margin-bottom: 30px;
}
/*** Profiles ***/
/* Background */
.UserProfileV3-container {
    background: transparent;
}
/** Header - Cover Area **/
/* Cover */
.UserProfileBackground-container.StretchFadeBackground-container.StretchFadeBackground-container-type-default {
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    margin-left: 10px;
    width: 80vw;
}
/* Menu */
.HorizontalTab-highlighter {
    background: #494b53b2;
    backdrop-filter: blur(10px);
    height: 43px;
    border-radius: 7px;
    z-index: -1;
}
.HorizontalTab-container-selected .HorizontalTab-tab-text {
    color: white;
    font-weight: bold;
}
/** Feed **/
/* Leave a message for #user */
.DraftInputWithTitleV2-title-wrapper {
    backdrop-filter: blur(10px);
    border-radius: 7px;
}
/* Post */
.UserProfilePostPanel-container-highlight {
    border-top: 7px solid #f5c400;
}
.UserProfilePostPanel-container {
    background-color: rgba(50, 52, 61, 0.90);
    color: white;
    border-radius: 7px;
    backdrop-filter: blur(10px);
}
.PublishedPostPage-wrapper {
    background-color: transparent;
}
.PublishedPostPage-share-wrapper {
    border-top: none;
    padding-top: 0px;
}
